<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <meta content="notranslate" name="google">
        <link href="/static/icon.png" rel="icon">
        <meta content="width=device-width,initial-scale=1,user-scalable=yes" name="viewport" />
        <title>Register</title>
    </head>

    <body class="dark">
        <header class="fixed primary">
            <nav>
                <button class="circle transparent" onclick="window.location.href='/'">
                    <i>arrow_back</i>
                </button>
                <h5 class="max">Register</h5>
                <a href="/users">
                    <i>groups</i>
                </a>
            </nav>
        </header>
        <main class="responsive">
            {% if userCanRegister %}
            <form class="grid margin" id="register-form">
                <article class="s12 border round">
                    <div class="field small-round label border">
                        <input id="name" required type="text" />
                        <label>Username</label>
                    </div>
                    <fieldset class="s12 small-round">
                        <legend>Roles</legend>
                        {% for role in roles %}
                        <label class="s12 checkbox">
                            <input name="role" type="checkbox" value="{{ role.name }}">
                            <span>{{ role.name }}</span>
                        </label>
                        {% endfor %}
                    </fieldset>
                    <div class="s12 field small-round label border">
                        <input id="password" required type="password" />
                        <label>Password</label>
                    </div>
                    <nav class="s12 right-align">
                        <button class="s12" type="submit">
                            <i>person_add</i>
                            <span>Register</span>
                        </button>
                    </nav>
                </article>
            </form>
            <div class="overlay blur"></div>
            <dialog class="modal" id="login-credentials">
                <h5>Account Registered</h5>
                <p>You can now login with your new account.</p>
                <div>Username: <code id="name-text"></code></div>
                <div>Password: <code id="password-text"></code></div>
                <button class="primary" onclick="ui('#login-credentials')">OK</button>
            </dialog>
            {% else %}
            <div class="snackbar top error active" id="not-allowed">You do not have permission to register accounts.</div>
            {% endif %}
        </main>
        <div class="snackbar top error" id="register-error"></div>
    </body>

</html>
