<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <meta content="notranslate" name="google">
        <link href="/static/icon.png" rel="icon">
        <meta content="width=device-width,initial-scale=1,user-scalable=yes" name="viewport" />
        <title>Server Log</title>
    </head>

    <body class="dark">
        <header class="transparent">
            <nav>
                <button class="circle transparent" onclick="goToMainUrl()">
                    <i>home</i>
                </button>
                <h5>Server Log</h5>
                <div class="max field label prefix border round surface-container">
                    <i>search</i>
                    <input id="search" type="text">
                    <label>Search</label>
                </div>
            </nav>
        </header>
        <main class="responsive">
            <div class="grid">
                <article class="s12 m12 l6 border round">
                    <table class="border tiny-space">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>IP</th>
                                <th>Client Name</th>
                                <th>Version</th>
                                <th>Latest Connection</th>
                                <th>Connection Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client_data in connected_clients %}
                            <tr>
                                <td>{{ client_data[0] }}</td>
                                <td>{{ client_data[1] }}</td>
                                <td>{{ client_data[2] }}</td>
                                <td>{{ client_data[3] }}</td>
                                <td>{{ client_data[4] }}</td>
                                <td>{{ client_data[5] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
                <fieldset class="s12 m12 l6 small-round">
                    <legend>Quick Search Filters</legend>
                    <nav class="wrap no-space">
                        {% for search_term in search_terms %}
                        <button class="chip tiny-margin" id="quick-search">
                            <span>{{search_term}}</span>
                        </button>
                        {% endfor %}
                    </nav>
                </fieldset>
            </div>
            <article id="log-container" class="border round padding vertical no-wrap scroll">
            </article>
        </main>
    </body>

</html>
