@font-face {
    font-family: "GreyQo";
    src: url("/static/fonts/GreyQo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.hidden {
    display: none;
}

/* workspace_dashboard.html */

.job-details[open] summary i::before {
    content: 'expand_less';
}

.job-details summary i::before {
    content: 'expand_more';
}

.job-details summary i {
    display: inline-block;
}

.job-article{
    transition: background-color, color 300ms ease-in-out;
}

.job-details[open] .job-article {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.job-details[open] .assembly-container {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.job-details .assembly-container{
    box-shadow: none;
}

.job-details .assembly-article{
    background-color: var(--surface-container-high);
    box-shadow: var(--elevate2);
}
.job-container{
    background-color: var(--surface-container-high);
}
/* index.html */
.fade-in {
    opacity: 0;
}

.cursive{
    font-family: "GreyQo", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 56pt;
}

.grid-container{
    display: grid;
    grid-template-areas: "a a a";
    gap: 15px 0px;
    grid-auto-columns: auto;
}

/* inventories.html */

.items{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20em, 0px));
}

/* logs.html */

.log_content {
    padding: 5px;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    height: 90%;
    margin-top: 25px;
    border-radius: 10px;
}

#log_content {
    font-size: 8pt;
    text-align: left;
    font-family: "Fira Code";
}

/* view_qr_codes.html */

.qr-summary{
    font-size: 22pt;
    padding: 0.2em;
}

.qr-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 0));
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 5em;
    margin: auto;
}

.qr-code img {
    display: block; /* Ensures the image behaves as a block-level element */
}

.qr-code-add-cut-off{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.qr-code-add-cut-off img{
    width: 50%;
}

.qr-container > * {
    border: 1px dashed black; /* or any other color you prefer */
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media print {
    header {
        display: none;
    }

    details:not([open]) {
        display: none;
    }

    .qr-summary {
        display: none;
    }
    .qr-code-add-cut-off img{
        width: 100%;
    }
}

.page-break {
    page-break-after: always;
}

/* workorder.html */

.workorder-image{
    -webkit-filter: invert(0.9);
    filter: invert(0.9);
}

.workorder-qr-code img{
    width: 200px;
    height: 200px;
}