<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <meta content="notranslate" name="google">
        <link href="/static/icon.png" rel="icon">
        <meta content="width=device-width,initial-scale=1,user-scalable=yes" name="viewport" />
        <title>Workorders</title>
    </head>

    <body class="dark">
        <header class="fixed primary">
            <nav>
                <button class="circle transparent" onclick="window.location.href='/';">
                    <i>arrow_back</i>
                </button>
                <h5 class="max">Workorders</h5>
            </nav>
        </header>
        <main class="responsive">
            <article class="border round vertical scroll" style="max-height: calc(100vh - 116px) !important;">
                <ul class="list border">
                    {% for workorder in all_workorders %}
                    <li>
                        <details>
                            <summary class="row wave">
                                <i>checklist</i>
                                <div class="max">
                                    <h6 class="bold small max"><b>Workorder</b> <i>tag</i>{{ workorder.id }}</h6>
                                    <div>{{ workorder.nests | length}} nest{% if workorder.nests | length != 1 %}s{% endif %}</div>
                                </div>
                                <button class="fill" onclick="window.location.href='/workorders/view?id={{ workorder.id }}';">
                                    <i>open_in_new</i>
                                    <span>Open</span>
                                </button>
                            </summary>
                            <ul class="small-padding small-margin small-round border surface-container">
                                <table class="border">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nests</th>
                                            <th class="min">Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for nest in workorder.nests %}
                                        <tr>
                                            <td class="min">{{ loop.index }}</td>
                                            <td>
                                                <button class="border small-round extra blur nest-button" data-id="{{ workorder.id }}"
                                                    data-image="{{ nest.image_path }}" data-name="{{ nest.name }}">
                                                    <img loading="lazy" class="responsive" fetchpriority="low" decoding="async" height="440" width="580"
                                                        src="/images/{{ nest.image_path }}">
                                                    <div>{{ nest.name }}</div>
                                                    <div class="tooltip right max no-space transparent grid">
                                                        <p>Sheet Count: {{ nest.sheet_count }}</p>
                                                    </div>
                                                </button>
                                            </td>
                                            <td><h5>× {{ nest.sheet_count }}</h5></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="min">{{ workorder.nests | sum(attribute="sheet_count") }} sheet{% if workorder.nests | sum(attribute="sheet_count") != 1
                                                %}s{% endif %}</th></tr>
                                    </tfoot>
                                </table>
                            </ul>
                        </details>
                    </li>
                    {% endfor %}
                </ul>
            </article>
        </main>
    </body>

</html>
