.hidden {
    display: none !important;
}

:root {
    --success-container: #D6FFD7;
    --on-success-container: #199300;
}

body.dark {
    --success-container: #199300;
    --on-success-container: #D6FFD7;
}

button:has(.tooltip) {
    backdrop-filter: none !important;
}

.logo {
    width: 100px;
    height: auto;
}

::selection {
    background-color: var(--primary);
    color: var(--on-primary);
}

::-moz-selection {
    background-color: var(--primary);
    color: var(--on-primary);
}

.green-font {
    color: #4caf50;
}

.red-font {
    color: var(--error);
}

/* workspace_dashboard.html */
#content {
    position: relative;
    overflow: hidden;
}

.job-details[open] summary i::before {
    content: 'expand_less';
}

.job-details summary i::before {
    content: 'expand_more';
}

.job-details summary i {
    display: inline-block;
}

.job-article {
    transition: background-color, color 300ms ease-in-out;
}

.job-details[open] .job-article {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.job-details[open] .assembly-container {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.job-details .assembly-container {
    box-shadow: none;
}

.job-details .assembly-article {
    background-color: var(--surface-container-high);
    box-shadow: var(--elevate2);
}

.job-container {
    background-color: var(--surface-container-high);
}

/* inventories.html */

.items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20em, 0px));
}

/* logs.html */

.log_content {
    padding: 5px;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    height: 90%;
    margin-top: 25px;
    border-radius: 10px;
}

#log_content,
#log-container {
    font-size: 8pt;
    text-align: left;
    font-family: "Fira Code", "SF Mono", "Consolas", "Menlo", "Liberation Mono", monospace;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
}

/* view_qr_codes.html */

.qr-summary {
    font-size: 22pt;
    padding: 0.2em;
}

.qr-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 0));
}

.qr-code-add-cut-off {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.qr-code-add-cut-off img {
    width: 50%;
}

.qr-container>* {
    border: 1px dashed black;
    /* or any other color you prefer */
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media print {
    .qr-summary {
        display: none;
    }

    .qr-code-add-cut-off img {
        width: 100%;
    }
}

.page-break {
    page-break-after: always;
}

/* workspace.html */


.global-table {
    max-height: 80vh !important;
}

/* blinking red border when timing */
.timer-btn {
    color: var(--error) !important;
}

.timer-btn.timing {
    animation: border-blink 1.5s infinite;
}

.timer-btn:not(.timing) {
    border-color: transparent !important;
}

@keyframes border-blink {
    0% {
        border-color: var(--error);
        color: var(--error);
    }

    25% {
        border-color: transparent;
        color: var(--error);
    }

    50% {
        border-color: var(--error);
        color: var(--error);
    }

    75% {
        border-color: transparent;
        color: var(--error);
    }

    100% {
        border-color: var(--error);
        color: var(--error);
    }
}


@media print {
    * {
        background: white !important;
        color: black !important;
        background-color: white !important;
    }

    .hide-on-print {
        display: none !important;
    }
}