<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.9/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.9/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <title>Invigo</title>
    <meta property="og:title" content="Invigo" />
    <meta property="og:description" content="Invigo Website Homepage." />
</head>
<style>
.grid-container{
    display: grid;
    grid-template-areas: "a a a";
    gap: 15px 0px;
    grid-auto-columns: 200px;
    grid-auto-rows: 185px;

}
</style>
<body class="dark">
    <header class="fixed primary">
        <nav>
            <h2 class="max center-align">
                Invigo
            </h2>
        </nav>
    </header>
    <main class="l m">
        <br>
        <div class="grid-container center-align">
            <button class="border small-round extra vertical" onclick="window.location.href='/inventory'">
                <i>inventory_2</i>
                <span>Inventory</span>
                <div class="tooltip bottom">All inventories and their categories.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/add_cutoff_sheet'">
                <i>library_add</i>
                <span>Add Cutoff Sheet</span>
                <div class="tooltip bottom">Add and view cutoff sheets.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/sheet_qr_codes'">
                <i>qr_code</i>
                <span>Sheet QR Codes</span>
                <div class="tooltip bottom">All sheets in inventory with their respective QR codes in a ready-to-print layout.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/production_planner'">
                <i>edit_calendar</i>
                <span>Production Planner</span>
                <div class="tooltip bottom">Plan and manage workspaces schedule.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/workspace_dashboard'">
                <i>construction</i>
                <span>Workspace Dashboard</span>
                <div class="tooltip bottom">Analytics for workspace.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/workspace_archives_dashboard'">
                <i>analytics</i>
                <span>Workspace Archives</span>
                <div class="tooltip bottom">Analytics for workspace archives.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/jobs'">
                <i>note_stack</i>
                <span>Jobs</span>
                <div class="tooltip bottom">View all saved jobs.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/workorders'">
                <i>list_alt</i>
                <span>Workorders</span>
                <div class="tooltip bottom">View all active workorders.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/way_back_machine'">
                <i>history</i>
                <span>Way Back Machine</span>
                <div class="tooltip bottom">Track any inventory item's price and quantity from daily backups.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='https://github.com/TheCodingJsoftware/Invigo/wiki'">
                <i>globe</i>
                <span>Wiki</span>
                <div class="tooltip bottom">GitHub wiki page with frequently asked questions about how to use Invigo.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/server_log'">
                <i>article</i>
                <span>Server Log</span>
                <div class="tooltip bottom">Live log for the Invigo-Server.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='/logs'">
                <i>problem</i>
                <span>Logs</span>
                <div class="tooltip bottom">All daily server logs and user error logs.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='https://github.com/TheCodingJsoftware/Inventory-Manager'">
                <i>code</i>
                <span>Invigo</span>
                <div class="tooltip bottom">View source code for Invigo.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='https://github.com/TheCodingJsoftware/Invigo-Server'">
                <i>code</i>
                <span>Invigo-Server</span>
                <div class="tooltip bottom">View source code for Invigo-Server.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='https://github.com/TheCodingJsoftware/Invigo-Web'">
                <i>code</i>
                <span>Invigo-Web</span>
                <div class="tooltip bottom">View source code for Invigo-Web.</div>
            </button>
            <button class="border small-round extra vertical" onclick="window.location.href='http://10.0.0.10:5051/download'">
                <i>download</i>
                <span>Download</span>
                <div class="tooltip bottom">Downloads Invigo.zip from Invigo-Web portal.</div>
            </button>
        </div>
    </main>
    <main class="s">
        <article class="no-padding">
            <a class="row padding surface-container wave" href="/inventory">
                <i>inventory_2</i>
                <div class="max">
                    <h6 class="small">Inventory</h6>
                <div>All inventories and their categories.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/add_cutoff_sheet">
                <i>library_add</i>
                <div class="max">
                    <h6 class="small">Add Cutoff Sheet</h6>
                <div>Add and view cutoff sheets.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/sheet_qr_codes">
                <i>qr_code</i>
                <div class="max">
                    <h6 class="small">Sheet QR Codes</h6>
                <div>All sheets in inventory with their respective QR codes in a ready-to-print layout.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/production_planner">
                <i>edit_calendar</i>
                <div class="max">
                    <h6 class="small">Production Planner</h6>
                <div>Plan and manage workspaces schedule.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/workspace_dashboard">
                <i>construction</i>
                <div class="max">
                    <h6 class="small">Workspace Dashboard</h6>
                <div>Analytics for workspace.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/workspace_archives_dashboard">
                <i>analytics</i>
                <div class="max">
                    <h6 class="small">Workspace Archives</h6>
                <div>Analytics for workspace archives.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/jobs">
                <i>note_stack</i>
                <div class="max">
                    <h6 class="small">Jobs</h6>
                <div>View all saved jobs.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/workorders">
                <i>list_alt</i>
                <div class="max">
                    <h6 class="small">Workorders</h6>
                <div>View all active workorders.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/way_back_machine">
                <i>history</i>
                <div class="max">
                    <h6 class="small">Way Back Machine</h6>
                <div>Track any inventory item's price and quantity from daily backups.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="https://github.com/TheCodingJsoftware/Invigo/wiki">
                <i>globe</i>
                <div class="max">
                    <h6 class="small">Wiki</h6>
                <div>GitHub wiki page with frequently asked questions about how to use Invigo.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/server_log">
                <i>article</i>
                <div class="max">
                    <h6 class="small">Server Log</h6>
                <div>Live log for the Invigo-Server.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="/logs">
                <i>problem</i>
                <div class="max">
                    <h6 class="small">Logs</h6>
                <div>All daily server logs and user error logs.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="https://github.com/TheCodingJsoftware/Inventory-Manager">
                <i>code</i>
                <div class="max">
                    <h6 class="small">Invigo</h6>
                <div>View source code for Invigo.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="https://github.com/TheCodingJsoftware/Invigo-Server">
                <i>code</i>
                <div class="max">
                    <h6 class="small">Invigo-Server</h6>
                <div>View source code for Invigo-Server (this).</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="https://github.com/TheCodingJsoftware/Invigo-Web">
                <i>code</i>
                <div class="max">
                    <h6 class="small">Invigo-Web</h6>
                    <div>View source code for Invigo-Web.</div>
                </div>
            </a>
            <div class="divider"></div>
            <a class="row padding surface-container wave" href="http://10.0.0.10:5051/download">
                <i>download</i>
                <div class="max">
                    <h6 class="small">Download</h6>
                <div>Downloads Invigo.zip from Invigo-Web portal.</div>
                </div>
            </a>
        </article>
    </main>
</body>
</html>