<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <script src="/dist/js/inventories.bundle.js"></script>
    <title>Inventory</title>
</head>

<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="goToMainUrl()">
                <i>arrow_back</i>
            </button>
            <h5 class="max">
                Inventory
            </h5>
        </nav>
    </header>
    <main class="responsive">
        {% for inventory, category_data in data.items() %}
        <article>
            <h5 class="max center-align">
                {{ inventory }}
            </h5>
            <br>
            <div class="items center-align">
                {% for category_name, category_url in category_data.items() %}
                <a href="{{ category_url }}" class="chip fill">
                    {{ category_name }}
                </a>
                {% endfor %}
            </div>
        </article>
        {% endfor %}
    </main>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</body>

</html>