<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js">
    </script>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <title>Inventory</title>
</head>

<style>
.items{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20em, 0px));
}
</style>

<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="goToMainUrl()">
                <i>arrow_back</i>
            </button>
            <h5 class="max">
                Inventory
            </h5>
        </nav>
    </header>
    <main class="padding">
        {% for inventory, category_data in data.items() %}
        <article>
            <h5 class="max center-align">
                {{ inventory }}
            </h5>
            <br>
            <div class="items center-align">
                {% for category_name, category_url in category_data.items() %}
                <a href="{{ category_url }}" class="chip fill">
                    {{ category_name }}
                </a>
                {% endfor %}
            </div>
        </article>
        {% endfor %}
    </main>
</body>

<script>
    function goToMainUrl() {
        window.location.href = "/"
    }
</script>

</html>