<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <title>Job Printouts</title>
</head>

<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="goToMainUrl()">
                <i>arrow_back</i>
            </button>
            <h5 class="max">Job Printouts</h5>
        </nav>
    </header>
    <main class="responsive">
        <div class="field label prefix border">
            <i>search</i>
            <input type="text" id="searchInput">
            <label>Search</label>
            <span class="helper">You can search by job names or order numbers</span>
        </div>
        <div class="tabs scroll">
            {% for directory in specific_dirs %}
                <a href="#{{ directory }}" data-ui="#{{ directory }}" {% if loop.first %}class="active" {% endif %}>{{directory.replace('_', ' ').title()}}</a>
            {% endfor %}
        </div>
        {% for directory in specific_dirs %}
        <div class="page {% if loop.first %}active{% endif %}" id="{{ directory }}">
            {% for job_dir, job_data in directories_info.items() %}
                {% if directory in job_dir %}
                <article class="job-item">
                    <div class="row">
                        <div class="max">
                            <h5>{{ job_data["name"] }}</h5>
                            <p><i>tag</i>{{ job_data["order_number"] }}</p>
                            <p><i>today</i> {{ job_data["formated_modified_date"] }}</p>
                        </div>
                    </div>
                    <nav>
                        <button class="border small-round" onclick="openPrintout('{{ job_data['dir'] }}', '{{ job_data['name'] }}')">
                            <i>print</i>
                            <span>Open Printout</span>
                        </button>
                    </nav>
                </article>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </main>
</body>

</html>
