<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <title>Logs</title>
</head>
<style>
    .log_content {
        padding: 5px;
        overflow-y: scroll;
        overflow-x: scroll;
        width: 100%;
        height: 90%;
        margin-top: 25px;
        border-radius: 10px;
    }

    #log_content {
        font-size: 8pt;
        text-align: left;
        font-family: "Fira Code";
    }
</style>

<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="goToMainUrl()">
                <i>arrow_back</i>
            </button>
            <h5 class="max">Logs</h5>
        </nav>
    </header>
    <main>
        <div class="tabs">
            <a data-ui="#error_logs" class="active">
                <i>error</i>
                <span>Error Logs</span>
            </a>
            <a data-ui="#server_logs">
                <i>dns</i>
                <span>Server Logs</span>
            </a>
        </div>

        <div class="page padding active" id="error_logs">
            {% for error_log_file_name in error_logs %}
            <div class="row">
                <button class="max border small-round" onclick="fetchLogContent('{{ error_log_file_name }}')">{{ error_log_file_name }}</button>
                <button class="square round error" onclick="deleteLog('{{ error_log_file_name }}', this)">
                    <i>delete_forever</i>
                </button>
            </div>
            {% endfor %}
        </div>

        <div class="page padding" id="server_logs">
            <br>
            <div class="center-align">
                <a href="/server_log">
                    <button class="small-round">
                        <i>adjust</i>
                        <span>Live Server Log</span>
                    </button>
                </a>
            </div>
            <br>
            {% for server_log_file_name in server_logs %}
            <div class="row">
                <button class="max border small-round" onclick="fetchLogContent('{{ server_log_file_name }}')">{{ server_log_file_name }}</button>
                <button class="square round error" onclick="deleteLog('{{ server_log_file_name }}', this)">
                    <i>delete_forever</i>
                </button>
            </div>
            {% endfor %}
        </div>

        <div class="overlay blur"></div>
        <dialog id="log_dialog" data-ui="dialog-log_dialog">
            <div class="log_content">
                <pre id="log_content"></pre>
            </div>
        </dialog>
    </main>
</body>

<script>
    function goToMainUrl() {
        window.location.href = "/";
    }

    function fetchLogContent(file_name) {
        const formData = new FormData();
        formData.append("log_file_name", file_name);

        fetch("/fetch_log", {
                method: "POST",
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById("log_content").innerHTML = data;
                ui("#log_dialog");
                window.location.hash = encodeURIComponent(file_name);
            })
            .catch(error => {
                console.error('Error fetching log content:', error);
            });
    }

    function deleteLog(logFileName, button) {
        const formData = new FormData();
        formData.append("log_file_name", logFileName);

        fetch("/delete_log", {
                method: "POST",
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                const parent = button.parentElement;
                parent.parentElement.removeChild(parent);
            })
            .catch(error => {
                console.error('Error deleting log file:', error);
            });
    }

    function checkForHash() {
        const hash = window.location.hash.substring(1);
        if (hash) {
            fetchLogContent(decodeURIComponent(hash));
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        checkForHash();

        const logDialog = document.getElementById('log_dialog');
        if (logDialog) {
            logDialog.addEventListener('close', function() {
                window.location.hash = "";
            });
        }
    });
</script>

</html>