<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js">
    </script>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <title>{{sheet_name}}</title>
    <meta property="og:title" content="{{sheet_name}}" />
    <meta property="og:description" content="Set Invigo Sheets in Inventory Information." />
</head>

<body class="dark" data-current-quantity="{{ quantity }}">
    <header class="fixed primary">
        <nav>
            <h5 class="max center-align small">
                {{sheet_name}}
            </h5>
        </nav>
    </header>
    <main class="padding">
        <form action="/sheets_in_inventory/{{ sheet_name }}" method="post" class="form-container">
            <div class="row">
                <div class="field label border max">
                    <input type="number" name="new_quantity" id="current_quantity" value={{quantity}} required>
                    <label>Quantity</label>
                    <span class="helper">Quantity in Stock: {{quantity}}</span>
                </div>
                <input type="hidden" name="order_pending_date">
                <input type="hidden" name="order_pending_quantity">
                <input type="hidden" name="expected_arrival_time">
                <input type="hidden" name="notes">
                <button class="small-round" type="submit">Set</button>
            </div>
        </form>
        <br>
        {% if pending_data %}
        <h2 class="max center-align">Orders Pending:</h2>
        {% for order in pending_data %}
        <article>
            <h5>Order</h5>
            <p>Order Sent: {{order.order_pending_date}}</p>
            <p>Expected Arrival Time: {{order.expected_arrival_time}}</p>
            <p>Quantity Ordered: {{order.quantity}}</p>
            <p>Notes: {{order.notes}}</p>
            <button class="add-quantity-button small-round max" data-quantity="{{order.quantity}}"
                data-order-pending-date="{{order.order_pending_date}}"
                data-expected-arrival-time="{{order.expected_arrival_time}}" data-notes="{{order.notes}}">
                Add Incoming Quantity ({{order.quantity}})
            </button>
        </article>
        {% endfor %}
        {% endif %}
    </main>
    <div class="overlay blur"></div>
    <dialog class="bottom" id="confirmationModal">
        <h4 class="center-align max">Confirm Quantity</h4>
        <p>Are you sure you this is the new quantity?</p>
        <br>
        <form action="/sheets_in_inventory/{{ sheet_name }}" method="post" class="form-container">
            <div class="row">
                <div class="field label border max">
                    <input type="number" name="new_quantity" id="modalQuantity" placeholder="0" value={{quantity}}>
                    <label>New Quantity</label>
                </div>
                <!-- Hidden fields for additional order data -->
                <input type="hidden" name="order_pending_date" id="orderPendingDate">
                <input type="hidden" name="order_pending_quantity" id="orderPendingQuantity">
                <input type="hidden" name="expected_arrival_time" id="expectedArrivalTime">
                <input type="hidden" name="notes" id="orderNotes">
                <button class="small-round" type="submit">Confirm</button>
            </div>
        </form>
    </dialog>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.add-quantity-button').forEach(button => {
                button.addEventListener('click', function () {
                    const incomingQuantity = parseFloat(this.getAttribute('data-quantity'), 10);
                    const orderPendingDate = this.getAttribute('data-order-pending-date');
                    const expectedArrivalTime = this.getAttribute('data-expected-arrival-time');
                    const orderNotes = this.getAttribute('data-notes');
                    const currentQuantity = parseFloat(document.body.getAttribute(
                        'data-current-quantity'), 10);

                    const newTotalQuantity = currentQuantity + incomingQuantity;
                    document.getElementById('modalQuantity').value = newTotalQuantity;
                    // Set the hidden fields with the order details
                    document.getElementById('orderPendingQuantity').value = incomingQuantity;
                    document.getElementById('orderPendingDate').value = orderPendingDate;
                    document.getElementById('expectedArrivalTime').value = expectedArrivalTime;
                    document.getElementById('orderNotes').value = orderNotes;
                    ui("#confirmationModal");
                });
            });
        });
    </script>
</body>

</html>