<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
    <script src="https://kit.fontawesome.com/b88fae5da2.js" crossorigin="anonymous"></script>
    <title>View QR Codes</title>

</head>

<body class="dark">
    <header class="fixed primary" style="height: 60px;">
        <nav>
            <button class="circle transparent" onclick="goToMainUrl()">
                <i>arrow_back</i>
            </button>
            <h5 class="max">Sheet QR Codes</h5>
        </nav>
    </header>
    <main>
        {% for category, sheets in sheet_data.items() %}
        <details class="center-align">
            <summary class="qr-summary">{{ category }}</summary>
            <div class="qr-container center-align">
                {% for sheet in sheets %}
                <div class="qr-item center-align" data-name="{{ sheet }}">
                    <div class="qr-code"></div>
                    <p class="center-align">{{ sheet }}</p>
                </div>
                {% endfor %}
            </div>
        </details>
        {% endfor %}
        <div class="page-break"></div>
        <details class="center-align">
            <summary class="qr-summary">Add Cut Off</summary>
            <div class="center-align center-align">
                <div class="qr-item center-align" data-name="add_cutoff_sheet">
                    <div class="qr-code-add-cut-off" style="width: 100%;"></div>
                    <br>
                    <p class="center-align" style="font-size: 56px;">Add Remnant to Database</p>
                </div>
            </div>
        </details>
    </main>
</body>

<script>
    function goToMainUrl() {
        window.location.href = "/"
    }
    document.addEventListener('DOMContentLoaded', function () {
        baseUrl = "http://invi.go/";
        document.querySelectorAll('.qr-item').forEach(item => {
            const name = item.getAttribute('data-name');
            if (name == "add_cutoff_sheet") {
                const encodedUrl = encodeURI(baseUrl + name.replace(/ /g, "_"));
                const qrDiv = item.querySelector('.qr-code-add-cut-off');
                new QRCode(qrDiv, {
                    text: encodedUrl,
                    width: 2048,
                    height: 2048,
                    colorDark: "#000000",
                    colorLight: "#ffffff",
                    correctLevel: QRCode.CorrectLevel.H
                });
                qrDiv.style.cursor = 'pointer';
                qrDiv.addEventListener('click', function () {
                    window.open(encodedUrl, '_blank');
                });
            } else {
                sheetsUrl = baseUrl + "sheets_in_inventory/"
                const encodedUrl = encodeURI(sheetsUrl + name.replace(/ /g, "_"));
                const qrDiv = item.querySelector('.qr-code');
                new QRCode(qrDiv, {
                    text: encodedUrl,
                    width: 256,
                    height: 256,
                    colorDark: "#000000",
                    colorLight: "#ffffff",
                    correctLevel: QRCode.CorrectLevel.H
                });
                qrDiv.style.cursor = 'pointer';
                qrDiv.addEventListener('click', function () {
                    window.open(encodedUrl, '_blank');
                });
            }
        });
    });

    window.addEventListener('beforeprint', function () {
        document.body.classList.remove('dark');
        document.body.classList.add('light');
    });

    window.addEventListener('afterprint', function () {
        document.body.classList.remove('light');
        document.body.classList.add('dark');
    });
</script>

</html>