<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.8/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.8/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js">
    </script>
    <link href="/static/theme.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://kit.fontawesome.com/b88fae5da2.js" crossorigin="anonymous"></script>
    <title>Way Back Machine</title>
</head>

<body class="dark">
    <header class="fixed primary" style="height: 60px;">
        <nav>
            <button class="circle transparent" onclick="goToMainUrl()">
                <i>arrow_back</i>
            </button>
            <h5 class="max">Way Back Machine</h5>
        </nav>
    </header>
    <main class="padding">
        <nav class="no-space center-align padding">
            <div class="prefix field border left-round left-align" style="width: 80%;">
                <i>search</i>
                <input type="text" id="searchInput" placeholder="Search...">
            </div>
            <button class="large right-round" id="fetchButton">Fetch</button>
        </nav>
        <div class="field center-align">
            <label class="radio">
                <input type="radio" id="components" name="inventory" value="components_inventory" checked>
                <span>Components Inventory</span>
            </label>
            <br>
            <label class="radio">
                <input type="radio" id="laser_cut_parts" name="inventory" value="laser_cut_inventory">
                <span>Laser Cut Parts</span>
            </label>
            <br>
            <label class="radio">
                <input type="radio" id="sheets_inventory" name="inventory" value="sheets_inventory">
                <span>Sheets Inventory</span>
            </label>
        </div>
        <article id="autocomplete-container" class="transparent"></article>
        <canvas id="myChart" width="400" height="200"></canvas>
        </div>
        <!-- Error dialog -->
        <div class="snackbar error" id="snackbar-error">An error occurred while fetching data. Please try again.</div>
</body>
<script>
    function goToMainUrl() {
        window.location.href = "/";
    }
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchInput');
        const fetchButton = document.getElementById('fetchButton');
        const autocompleteContainer = document.getElementById('autocomplete-container');
        const radioButtons = document.querySelectorAll('input[name="inventory"]');
        let myChart = null;
        const inventoryData = {{inventory | tojson | safe}};

        searchInput.addEventListener('input', function () {
            const query = searchInput.value.toLowerCase();
            const selectedInventory = document.querySelector('input[name="inventory"]:checked').value;
            const suggestions = getSuggestions(query, inventoryData[selectedInventory]);
            displaySuggestions(suggestions);
        });

        fetchButton.addEventListener('click', function () {
            const selectedInventory = document.querySelector('input[name="inventory"]:checked').value;
            const selectedItem = searchInput.value;
            updateUrl(selectedInventory, selectedItem);
            fetchData(selectedInventory, selectedItem);
        });

        radioButtons.forEach(radio => {
            radio.addEventListener('change', function () {
                const selectedInventory = document.querySelector(
                    'input[name="inventory"]:checked').value;
                searchInput.value = "";
                const selectedItem = searchInput.value;
                updateUrl(selectedInventory, selectedItem);
            });
        });

        function getSuggestions(query, inventory) {
            if (!query) {
                return [];
            }
            return inventory.filter(name => name.toLowerCase().includes(query));
        }

        function displaySuggestions(suggestions) {
            autocompleteContainer.innerHTML = '';
            suggestions.forEach(suggestion => {
                const divider = document.createElement('div');
                divider.className = 'divider';
                const div = document.createElement('a');
                div.className = 'row wave';
                div.textContent = suggestion;
                div.addEventListener('click', function () {
                    searchInput.value = suggestion;
                    autocompleteContainer.innerHTML = '';
                    const selectedInventory = document.querySelector(
                        'input[name="inventory"]:checked').value;
                    updateUrl(selectedInventory, suggestion);
                    fetchData(selectedInventory, suggestion);
                });
                autocompleteContainer.appendChild(div);
                autocompleteContainer.appendChild(divider);
            });
        }

        function fetchData(inventory, item) {
            fetch(`/fetch_data?inventory=${inventory}&item=${item}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    drawChart(data);
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    showErrorModal();
                });
        }

        function updateUrl(inventory, item) {
            const url = new URL(window.location);
            url.searchParams.set('inventory', inventory);
            if (item) {
                url.searchParams.set('item', item);
            } else {
                url.searchParams.delete('item');
            }
            window.history.pushState({}, '', url);
        }

        function drawChart(data) {
            const ctx = document.getElementById('myChart').getContext('2d');
            if (myChart) {
                myChart.destroy();
            }
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.dates,
                    datasets: [{
                        label: 'Quantity',
                        data: data.quantities,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }, {
                        label: 'Price',
                        data: data.prices,
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function showErrorModal() {
            ui("#snackbar-error");
        }


        // Check if there are query parameters in the URL on page load and fetch data if they exist
        window.addEventListener('load', function () {
            const urlParams = new URLSearchParams(window.location.search);
            const inventory = urlParams.get('inventory') || 'components_inventory';
            const item = urlParams.get('item');

            document.querySelector(`input[name="inventory"][value="${inventory}"]`).checked = true;

            if (item) {
                searchInput.value = item;
                fetchData(inventory, item);
            } else {
                updateUrl(inventory, '');
            }
        });
    });
</script>

</html>