<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="/beer.css" rel="stylesheet">
    <script type="module" src="/beer.js"></script>
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <title>Workorder</title>
    <script src="/dist/js/workorder.bundle.js"></script>
</head>

<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="goToMainUrl()">
                <i>arrow_back</i>
            </button>
            <h5 class="max">
                Workorder
            </h5>
            <a href="/load_workorder/{{workorder_id}}">
                <i>print</i>
            </a>
        </nav>
    </header>
    <main class="responsive">
        {% if workorder_data %}
            <div class="center-align padding">
                <button class="small-round extra" onclick='markWorkorderAsDone({{workorder_data | tojson | safe }})'>
                    <i>done_all</i>
                    <span>Picked All Sheets</span>
                </button>
            </div>
            {% for nest_data in workorder_data %}
                <article class="border no-padding">
                    <img class="responsive workorder-image" src="/image/{{nest_data.image_path}}" class="responsive">
                    <div class="padding">
                        <h5>
                            {{nest_data.name}}
                            {% if nest_data.sheet_count > 1 %}
                                × {{nest_data.sheet_count}}
                            {% endif %}
                        </h5>
                        <div class="right-align padding">
                            <button class="small-round" onclick='markNestAsDone({{nest_data | tojson | safe }})'>
                                <i>check</i>
                                {% if nest_data.sheet_count > 1 %}
                                    <span>{{nest_data.sheet_count}} Sheets Picked</span>
                                {% else %}
                                    <span>Sheet Picked</span>
                                {% endif %}
                            </button>
                        </div>
                        {% for laser_cut_part in nest_data.laser_cut_parts %}
                        <details>
                            <summary class="none no-padding">
                                <a class="row wave padding surface-container">
                                    <img class="workorder-image" class="round" src="/{{laser_cut_part.image_index}}">
                                    <div>
                                        <h6 class="small">{{laser_cut_part.name}}</h6>
                                        <div><i>tag</i>{{laser_cut_part.part_number}}</div>
                                    </div>
                                    <div class="max">
                                        {% set next_index = laser_cut_part.current_flow_tag_index + 2 %}
                                        <div>
                                            {% if next_index >= laser_cut_part.flow_tag.tags | length %}
                                            ➜ Done
                                            {% else %}
                                            ➜ {{ laser_cut_part.flow_tag.tags[next_index] }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <label>
                                        × {{(laser_cut_part.quantity_in_nest * nest_data.sheet_count) - laser_cut_part.recut_count}}
                                    </label>
                                </a>
                            </summary>
                            <article class="small-padding no-round no-margin right-align">
                                {% if laser_cut_part.recut %}
                                <p>Recut count: {{laser_cut_part.recut_count}}</p>
                                {% endif %}
                                {% if (laser_cut_part.quantity_in_nest * nest_data.sheet_count) - laser_cut_part.recut_count > 0 %}
                                <button class="small-round" onclick='openRecutDialog({{nest_data | tojson | safe }}, {{laser_cut_part | tojson | safe }})'>
                                    <span class="small-text no-wrap no-padding">Recut</span>
                                </button>
                                {% endif %}
                            </article>
                            </details>
                            <div class="divider"></div>
                        {% endfor %}
                    </div>
                </article>
            {% endfor %}
        {% else %}
        <h5 class="center-align padding">
            Sheets are all picked.
        </h5>
        {% endif %}
    </main>
    <div class="overlay blur"></div>
    <dialog class="bottom" id="recut-dialog">
        <h3 class="center-align" id="recut-part-name"></p>
        <h6 class="center-align">How many need to be recut?</h6>
        <div class="row padding" id="recut-quantity-div">
            <div class="field label border max valid">
                <input type="number" id="recut-quantity-input" oninput="validateRecutQuantity()">
                <label>Quantity</label>
                <span class="error hidden" id="recut-quantity-input-error">There are not that many parts cut.</span>
            </div>
            <button class="small-round" id="recut-button-submit" onclick='submitRecutPart()'>
                <i>check</i>
                <span>Submit</span>
            </button>
        </div>
        <article>
            <h6 class="center-align">Quick Select</h6>
            <div class="grid">
                <div class="s6 center-align">
                    <button class="round square extra" id="recut-count-1" onclick='recutPart(1)'>
                        <span class="no-wrap">1</span>
                    </button>
                </div>
                <div class="s6 center-align">
                    <button class="round square extra" id="recut-count-2" onclick='recutPart(2)'>
                        <span class="no-wrap">2</span>
                    </button>
                </div>
                <div class="s6 center-align">
                    <button class="round square extra" id="recut-count-3" onclick='recutPart(3)'>
                        <span class="no-wrap">3</span>
                    </button>
                </div>
                <div class="s6 center-align">
                    <button class="round square extra" id="recut-count-all" onclick='recutPart("All")'>
                        <span class="no-wrap">All</span>
                    </button>
                </div>
            </div>
    </article>
    </dialog>
    <div class="snackbar top" id="recut-submitted">Recut submitted.</div>
    <div class="snackbar error top" id="snackbar-error"></div>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</body>

</html>