<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@2.0.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Workspace Dashboard</title>
</head>

<style>
    .hidden {
        display: none;
    }
</style>

<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="window.location.href = '/'">
                <i>arrow_back</i>
            </button>
            <h5>
                Workspace Dashboard
            </h5>
        </nav>
    </header>
    <main class="padding responsive" id="workspace-container">
        <div class="grid">
            <div class="s4">
                <article id="assemblies-in-chart-container-1">
                    <div class="row">
                        <h6 class="small middle-align left-align">Assemblies in </h6>
                        <div class="field suffix max">
                            <select>
                                <!-- Options will be populated dynamically -->
                            </select>
                            <i>arrow_drop_down</i>
                        </div>
                        <button class="transparent link circle">
                            <i>tune</i>
                            <menu class="left no-wrap">
                                <a class="row surface-container">
                                    <label class="checkbox">
                                        <input type="checkbox" id="assemblies-in-chart-container-1-use-workspace-archives-checkbox">
                                        <span>Include data from workspace archives</span>
                                    </label>
                                </a>
                                <div class="divider"></div>
                                <a class="row surface-container">
                                    <div class="field label prefix border max">
                                        <i>date_range</i>
                                        <input type="text" id="assemblies-in-chart-container-1-date-range-picker"
                                            placeholder="Select Date Range" />
                                        <label>Select Date Range</label>
                                    </div>
                                </a>
                                <a class="row" id="assemblies-in-chart-container-1-this-week">
                                    <span>This Week</span>
                                </a>
                                <a class="row" id="assemblies-in-chart-container-1-this-month">
                                    <span>This Month</span>
                                </a>
                                <a class="row" id="assemblies-in-chart-container-1-this-year">
                                    <span>This Year</span>
                                </a>
                            </menu>
                        </button>
                    </div>
                    <canvas id="assemblies-in-chart-1" style="max-height: 300px"></canvas>
                </article>
            </div>
            <div class="s4">
                <article id="assemblies-in-chart-container-2">
                    <div class="row">
                        <h6 class="small middle-align left-align">Assemblies in </h6>
                        <div class="field suffix max">
                            <select>
                                <!-- Options will be populated dynamically -->
                            </select>
                            <i>arrow_drop_down</i>
                        </div>
                        <button class="transparent link circle">
                            <i>tune</i>
                            <menu class="left no-wrap">
                                <a class="row surface-container">
                                    <label class="checkbox">
                                        <input type="checkbox" id="assemblies-in-chart-container-2-use-workspace-archives-checkbox">
                                        <span>Include data from workspace archives</span>
                                    </label>
                                </a>
                                <div class="divider"></div>
                                <a class="row surface-container">
                                    <div class="field label prefix border max">
                                        <i>date_range</i>
                                        <input type="text" id="assemblies-in-chart-container-2-date-range-picker"
                                            placeholder="Select Date Range" />
                                        <label>Select Date Range</label>
                                    </div>
                                </a>
                                <a class="row" id="assemblies-in-chart-container-2-this-week">
                                    <span>This Week</span>
                                </a>
                                <a class="row" id="assemblies-in-chart-container-2-this-month">
                                    <span>This Month</span>
                                </a>
                                <a class="row" id="assemblies-in-chart-container-2-this-year">
                                    <span>This Year</span>
                                </a>
                            </menu>
                        </button>
                    </div>
                    <canvas id="assemblies-in-chart-2" style="max-height: 300px"></canvas>
                </article>
            </div>
            <div class="s4">
                <article id="assemblies-in-chart-container-3">
                    <div class="row">
                        <h6 class="small middle-align left-align">Assemblies in </h6>
                        <div class="field suffix max">
                            <select>
                                <!-- Options will be populated dynamically -->
                            </select>
                            <i>arrow_drop_down</i>
                        </div>
                        <button class="transparent link circle">
                            <i>tune</i>
                            <menu class="left no-wrap">
                                <a class="row surface-container">
                                    <label class="checkbox">
                                        <input type="checkbox" id="assemblies-in-chart-container-3-use-workspace-archives-checkbox">
                                        <span>Include data from workspace archives</span>
                                    </label>
                                </a>
                                <div class="divider"></div>
                                <a class="row surface-container">
                                    <div class="field label prefix border max">
                                        <i>date_range</i>
                                        <input type="text" id="assemblies-in-chart-container-3-date-range-picker"
                                            placeholder="Select Date Range" />
                                        <label>Select Date Range</label>
                                    </div>
                                </a>
                                <a class="row" id="assemblies-in-chart-container-3-this-week">
                                    <span>This Week</span>
                                </a>
                                <a class="row" id="assemblies-in-chart-container-3-this-month">
                                    <span>This Month</span>
                                </a>
                                <a class="row" id="assemblies-in-chart-container-3-this-year">
                                    <span>This Year</span>
                                </a>
                            </menu>
                        </button>
                    </div>
                    <canvas id="assemblies-in-chart-3" style="max-height: 300px"></canvas>
                </article>
            </div>
        </div>
        <article id="production-plan-heatmap-container">
            <div class="row">
                <h5 class="max">Production Plan Heatmap</h5>
                <div class="field label suffix border">
                    <select>
                        <!-- Options will be populated dynamically -->
                    </select>
                    <label>Select Process</label>
                    <i>arrow_drop_down</i>
                </div>
            </div>
            <div>
                <span id="min-value-display">Min: 0h</span>
                <span id="max-value-display">Max: 0h</span>
            </div>
            <div>
                <canvas id="production-plan-heatmap"></canvas>
            </div>
        </article>
        <article id="workspace-heatmap-container">
            <div class="row">
                <h5 class="max">Workspace Heatmap</h5>
                <div class="field label suffix border">
                    <select>
                        <!-- Options will be populated dynamically -->
                    </select>
                    <label>Select Process</label>
                    <i>arrow_drop_down</i>
                </div>
            </div>
            <div>
                <span id="min-value-display">Min: 0h</span>
                <span id="max-value-display">Max: 0h</span>
            </div>
            <div>
                <canvas id="workspace-heatmap">
            </div>
        </article>
    </main>
    <script type="module" src="/static/js/workspace_dashboard.js"></script>
</body>

</html>