<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <script src="/dist/js/workspace_archives_dashboard.bundle.js"></script>
</head>

<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="goToMainUrl()">
                <i>arrow_back</i>
            </button>
            <h5 class="max">
                Workspace Archives
            </h5>
        </nav>
    </header>
    <main class="responsive">
    </main>
</body>
</html>