<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.8/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.8/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/frappe-gantt@latest/dist/frappe-gantt.css">
    <script src="https://cdn.jsdelivr.net/npm/frappe-gantt@latest/dist/frappe-gantt.js"></script>
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <link href="/static/css/theme.css" rel="stylesheet">
    <title>Workspace Scheduler</title>
</head>

<style>
    .hidden, .handle.progress{
        display: none;
    }
</style>
<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="goToMainUrl()">
                <i>arrow_back</i>
            </button>
            <h5 class="max">
                Workspace Scheduler
            </h5>
        </nav>
    </header>
    <main>
        <nav class="tabbed large">
            <a id="day-button">
                <i>today</i>
                <span>Day</span>
            </a>
            <a id="week-button">
                <i>date_range</i>
                <span>Week</span>
            </a>
            <a id="month-button" class="active">
                <i>calendar_month</i>
                <span>Month</span>
            </a>
            <a id="year-button">
                <i>calendar_view_week</i>
                <span>Year</span>
            </a>
        </nav>
        <div id="charts" class="gantt-container"></div>
        <div class="row">
            <button class="small-round right-align" id="submit-button"><i>save</i><span>Submit</span></button>
        </div>
    </main>
    <script type="module" src="/static/js/workspace_scheduler.js"></script>
</body>
</html>