<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.9/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.9/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@2.0.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    <title>Workspace Dashboard</title>
</head>

<style>
    .hidden {
        display: none;
    }
</style>

<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="window.location.href = '/'">
                <i>arrow_back</i>
            </button>
            <h5 class="max">
                Workspace Dashboard
            </h5>
        </nav>
    </header>
    <main class="responsive" id="workspace-container">
        <article>
            <h5>Random Chart</h5>
            <div id="chart-container" style="width: 400px; height: 200px;"></div>
        </article>
        <article id="production-plan-heatmap-container">
            <h5>Production Plan Heatmap</h5>
            <div class="field label suffix border">
                <select>
                    <!-- Options will be populated dynamically -->
                </select>
                <label>Process</label>
                <i>arrow_drop_down</i>
            </div>
            <div>
                <span id="min-value-display">Min: 0h</span>
                <span id="max-value-display">Max: 0h</span>
            </div>
            <div>
                <canvas id="production-plan-heatmap"></canvas>
            </div>
        </article>
        <article id="workspace-heatmap-container">
            <h5>Workspace Heatmap</h5>
            <div class="field label suffix border">
                <select>
                    <!-- Options will be populated dynamically -->
                </select>
                <label>Process</label>
                <i>arrow_drop_down</i>
            </div>
            <div>
                <span id="min-value-display">Min: 0h</span>
                <span id="max-value-display">Max: 0h</span>
            </div>
            <div>
                <canvas id="workspace-heatmap">
            </div>
        </article>
    </main>
    <script type="module" src="/static/js/workspace_dashboard.js"></script>
</body>

</html>