<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link rel="icon" href="/static/icon.png">
    <link href="/flatpickr.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <title>Workspace Dashboard</title>
</head>

<body class="dark">
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="window.location.href = '/'">
                <i>arrow_back</i>
            </button>
            <h5 class="max">
                Workspace Dashboard
            </h5>
            <a href="/production_planner">
                <i>edit_calendar</i>
            </a>
        </nav>
    </header>
    <main class="responsive">
        <div>
            <div class="tabs left-align scroll">
                <a data-ui="#assembly-graphs" class="active">
                    <i>bar_chart</i>
                    <span>Assembly Graphs</span>
                </a>
                <a data-ui="#parts-graphs">
                    <i>bar_chart</i>
                    <span>Parts Graphs</span>
                </a>
                <a data-ui="#heatmaps">
                    <i>key_visualizer</i>
                    <span>Heatmaps</span>
                </a>
                <a data-ui="#activity">
                    <i>browse_activity</i>
                    <span>Activity</span>
                </a>
            </div>
            <div id="assembly-graphs" class="page padding active">
                <div class="grid">
                    <div class="s4">
                        <article id="assemblies-in-process-chart-container-1">
                            <div class="row">
                                <h6 class="small middle-align left-align">Assemblies in </h6>
                                <div class="field suffix max">
                                    <select id="process-tags">
                                        <!-- Options will be populated dynamically -->
                                    </select>
                                    <i>arrow_drop_down</i>
                                </div>
                                <button class="transparent link circle">
                                    <i>tune</i>
                                    <menu class="left no-wrap">
                                        <a class="row surface-container">
                                            <label class="checkbox">
                                                <input type="checkbox" id="use-workspace-archives">
                                                <span>Include jobs from workspace archives</span>
                                            </label>
                                        </a>
                                        <a class="row surface-container">
                                            <div class="field label prefix border max">
                                                <i>date_range</i>
                                                <input type="text" id="date-range-picker" placeholder="Select Date Range" />
                                                <label>Select Date Range</label>
                                            </div>
                                        </a>
                                        <div class="field middle-align">
                                            <nav class="vertical">
                                                <label class="radio">
                                                    <input type="radio" id="this-week" name="radio1_">
                                                    <span>This Week</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-month" name="radio1_">
                                                    <span>This Month</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-year" name="radio1_">
                                                    <span>This Year</span>
                                                </label>
                                            </nav>
                                        </div>
                                        <br>
                                        <br>
                                    </menu>
                                </button>
                            </div>
                            <canvas id="bar-chart" style="max-height: 300px"></canvas>
                        </article>
                    </div>
                    <div class="s4">
                        <article id="assemblies-in-process-chart-container-2">
                            <div class="row">
                                <h6 class="small middle-align left-align">Assemblies in </h6>
                                <div class="field suffix max">
                                    <select id="process-tags">
                                        <!-- Options will be populated dynamically -->
                                    </select>
                                    <i>arrow_drop_down</i>
                                </div>
                                <button class="transparent link circle">
                                    <i>tune</i>
                                    <menu class="left no-wrap">
                                        <a class="row surface-container">
                                            <label class="checkbox">
                                                <input type="checkbox" id="use-workspace-archives">
                                                <span>Include jobs from workspace archives</span>
                                            </label>
                                        </a>
                                        <a class="row surface-container">
                                            <div class="field label prefix border max">
                                                <i>date_range</i>
                                                <input type="text" id="date-range-picker" placeholder="Select Date Range" />
                                                <label>Select Date Range</label>
                                            </div>
                                        </a>
                                        <div class="field middle-align">
                                            <nav class="vertical">
                                                <label class="radio">
                                                    <input type="radio" id="this-week" name="radio2_">
                                                    <span>This Week</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-month" name="radio2_">
                                                    <span>This Month</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-year" name="radio2_">
                                                    <span>This Year</span>
                                                </label>
                                            </nav>
                                        </div>
                                        <br>
                                        <br>
                                    </menu>
                                </button>
                            </div>
                            <canvas id="bar-chart" style="max-height: 300px"></canvas>
                        </article>
                    </div>
                    <div class="s4">
                        <article id="assemblies-in-process-chart-container-3">
                            <div class="row">
                                <h6 class="small middle-align left-align">Assemblies in </h6>
                                <div class="field suffix max">
                                    <select id="process-tags">
                                        <!-- Options will be populated dynamically -->
                                    </select>
                                    <i>arrow_drop_down</i>
                                </div>
                                <button class="transparent link circle">
                                    <i>tune</i>
                                    <menu class="left no-wrap">
                                        <a class="row surface-container">
                                            <label class="checkbox">
                                                <input type="checkbox" id="use-workspace-archives">
                                                <span>Include jobs from workspace archives</span>
                                            </label>
                                        </a>
                                        <a class="row surface-container">
                                            <div class="field label prefix border max">
                                                <i>date_range</i>
                                                <input type="text" id="date-range-picker" placeholder="Select Date Range" />
                                                <label>Select Date Range</label>
                                            </div>
                                        </a>
                                        <div class="field middle-align">
                                            <nav class="vertical">
                                                <label class="radio">
                                                    <input type="radio" id="this-week" name="radio3_">
                                                    <span>This Week</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-month" name="radio3_">
                                                    <span>This Month</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-year" name="radio3_">
                                                    <span>This Year</span>
                                                </label>
                                            </nav>
                                        </div>
                                        <br>
                                        <br>
                                    </menu>
                                </button>
                            </div>
                            <canvas id="bar-chart" style="max-height: 300px"></canvas>
                        </article>
                    </div>
                    <div class="s6">
                        <article id="select-assembly-chart-container-1">
                            <div class="row">
                                <h6 class="small middle-align left-align">Assembly </h6>
                                <div class="field suffix max">
                                    <select id="assembly-selection">
                                        <!-- Options will be populated dynamically -->
                                    </select>
                                    <i>arrow_drop_down</i>
                                </div>
                                <button class="transparent link circle">
                                    <i>tune</i>
                                    <menu class="left no-wrap">
                                        <a class="row surface-container">
                                            <label class="checkbox">
                                                <input type="checkbox" id="use-workspace-archives">
                                                <span>Include jobs from workspace archives</span>
                                            </label>
                                        </a>
                                        <a class="row surface-container">
                                            <div class="field label prefix border max">
                                                <i>date_range</i>
                                                <input type="text" id="date-range-picker" placeholder="Select Date Range" />
                                                <label>Select Date Range</label>
                                            </div>
                                        </a>
                                        <div class="field middle-align">
                                            <nav class="vertical">
                                                <label class="radio">
                                                    <input type="radio" id="this-week" name="radio4_">
                                                    <span>This Week</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-month" name="radio4_">
                                                    <span>This Month</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-year" name="radio4_">
                                                    <span>This Year</span>
                                                </label>
                                            </nav>
                                        </div>
                                        <br>
                                        <br>
                                    </menu>
                                </button>
                            </div>
                            <canvas id="bar-chart" style="max-height: 300px"></canvas>
                        </article>
                    </div>
                    <div class="s6">
                        <article id="select-assembly-chart-container-2">
                            <div class="row">
                                <h6 class="small middle-align left-align">Assembly </h6>
                                <div class="field suffix max">
                                    <select id="assembly-selection">
                                        <!-- Options will be populated dynamically -->
                                    </select>
                                    <i>arrow_drop_down</i>
                                </div>
                                <button class="transparent link circle">
                                    <i>tune</i>
                                    <menu class="left no-wrap">
                                        <a class="row surface-container">
                                            <label class="checkbox">
                                                <input type="checkbox" id="use-workspace-archives">
                                                <span>Include jobs from workspace archives</span>
                                            </label>
                                        </a>
                                        <a class="row surface-container">
                                            <div class="field label prefix border max">
                                                <i>date_range</i>
                                                <input type="text" id="date-range-picker" placeholder="Select Date Range" />
                                                <label>Select Date Range</label>
                                            </div>
                                        </a>
                                        <div class="field middle-align">
                                            <nav class="vertical">
                                                <label class="radio">
                                                    <input type="radio" id="this-week" name="radio5_">
                                                    <span>This Week</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-month" name="radio5_">
                                                    <span>This Month</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-year" name="radio5_">
                                                    <span>This Year</span>
                                                </label>
                                            </nav>
                                        </div>
                                        <br>
                                        <br>
                                    </menu>
                                </button>
                            </div>
                            <canvas id="bar-chart" style="max-height: 300px"></canvas>
                        </article>
                    </div>
                    <div class="s12">
                        <article id="all-assemblies-chart-container-1">
                            <div class="row">
                                <h6 class="small middle-align left-align max">All Assemblies </h6>
                                <button class="transparent link circle">
                                    <i>tune</i>
                                    <menu class="left no-wrap">
                                        <a class="row surface-container">
                                            <label class="checkbox">
                                                <input type="checkbox" id="use-workspace-archives">
                                                <span>Include jobs from workspace archives</span>
                                            </label>
                                        </a>
                                        <a class="row surface-container">
                                            <div class="field label prefix border max">
                                                <i>date_range</i>
                                                <input type="text" id="date-range-picker" placeholder="Select Date Range" />
                                                <label>Select Date Range</label>
                                            </div>
                                        </a>
                                        <div class="field middle-align">
                                            <nav class="vertical">
                                                <label class="radio">
                                                    <input type="radio" id="this-week" name="radio6_">
                                                    <span>This Week</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-month" name="radio6_">
                                                    <span>This Month</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-year" name="radio6_">
                                                    <span>This Year</span>
                                                </label>
                                            </nav>
                                        </div>
                                        <br>
                                        <br>
                                    </menu>
                                </button>
                            </div>
                            <canvas id="bar-chart" style="max-height: 300px"></canvas>
                        </article>
                    </div>
                </div>
            </div>
            <div id="parts-graphs" class="page padding">
                <div class="grid">
                    <div class="s6">
                        <article id="laser-cut-parts-in-process-chart-container-1">
                            <div class="row">
                                <h6 class="small middle-align left-align">Parts in </h6>
                                <div class="field suffix max">
                                    <select id="process-tags">
                                        <!-- Options will be populated dynamically -->
                                    </select>
                                    <i>arrow_drop_down</i>
                                </div>
                                <button class="transparent link circle">
                                    <i>tune</i>
                                    <menu class="left no-wrap">
                                        <a class="row surface-container">
                                            <label class="checkbox">
                                                <input type="checkbox" id="use-workspace-archives">
                                                <span>Include jobs from workspace archives</span>
                                            </label>
                                        </a>
                                        <a class="row surface-container">
                                            <div class="field label prefix border max">
                                                <i>date_range</i>
                                                <input type="text" id="date-range-picker" placeholder="Select Date Range" />
                                                <label>Select Date Range</label>
                                            </div>
                                        </a>
                                        <div class="field middle-align">
                                            <nav class="vertical">
                                                <label class="radio">
                                                    <input type="radio" id="this-week" name="radio7_">
                                                    <span>This Week</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-month" name="radio7_">
                                                    <span>This Month</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-year" name="radio7_">
                                                    <span>This Year</span>
                                                </label>
                                            </nav>
                                        </div>
                                        <br>
                                        <br>
                                    </menu>
                                </button>
                            </div>
                            <canvas id="bar-chart" style="max-height: 300px"></canvas>
                        </article>
                    </div>
                    <div class="s6">
                        <article id="laser-cut-parts-in-process-chart-container-2">
                            <div class="row">
                                <h6 class="small middle-align left-align">Parts in </h6>
                                <div class="field suffix max">
                                    <select id="process-tags">
                                        <!-- Options will be populated dynamically -->
                                    </select>
                                    <i>arrow_drop_down</i>
                                </div>
                                <button class="transparent link circle">
                                    <i>tune</i>
                                    <menu class="left no-wrap">
                                        <a class="row surface-container">
                                            <label class="checkbox">
                                                <input type="checkbox" id="use-workspace-archives">
                                                <span>Include jobs from workspace archives</span>
                                            </label>
                                        </a>
                                        <a class="row surface-container">
                                            <div class="field label prefix border max">
                                                <i>date_range</i>
                                                <input type="text" id="date-range-picker" placeholder="Select Date Range" />
                                                <label>Select Date Range</label>
                                            </div>
                                        </a>
                                        <div class="field middle-align">
                                            <nav class="vertical">
                                                <label class="radio">
                                                    <input type="radio" id="this-week" name="radio8_">
                                                    <span>This Week</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-month" name="radio8_">
                                                    <span>This Month</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-year" name="radio8_">
                                                    <span>This Year</span>
                                                </label>
                                            </nav>
                                        </div>
                                        <br>
                                        <br>
                                    </menu>
                                </button>
                            </div>
                            <canvas id="bar-chart" style="max-height: 300px"></canvas>
                        </article>
                    </div>
                    <div class="s12">
                        <article id="laser-cut-parts-in-process-chart-container-3">
                            <div class="row">
                                <h6 class="small middle-align left-align">Parts in </h6>
                                <div class="field suffix max">
                                    <select id="process-tags">
                                        <!-- Options will be populated dynamically -->
                                    </select>
                                    <i>arrow_drop_down</i>
                                </div>
                                <button class="transparent link circle">
                                    <i>tune</i>
                                    <menu class="left no-wrap">
                                        <a class="row surface-container">
                                            <label class="checkbox">
                                                <input type="checkbox" id="use-workspace-archives">
                                                <span>Include jobs from workspace archives</span>
                                            </label>
                                        </a>
                                        <a class="row surface-container">
                                            <div class="field label prefix border max">
                                                <i>date_range</i>
                                                <input type="text" id="date-range-picker" placeholder="Select Date Range" />
                                                <label>Select Date Range</label>
                                            </div>
                                        </a>
                                        <div class="field middle-align">
                                            <nav class="vertical">
                                                <label class="radio">
                                                    <input type="radio" id="this-week" name="radio8_">
                                                    <span>This Week</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-month" name="radio8_">
                                                    <span>This Month</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" id="this-year" name="radio8_">
                                                    <span>This Year</span>
                                                </label>
                                            </nav>
                                        </div>
                                        <br>
                                        <br>
                                    </menu>
                                </button>
                            </div>
                            <canvas id="bar-chart" style="max-height: 300px"></canvas>
                        </article>
                    </div>
                </div>
            </div>
            <div id="heatmaps" class="page padding">
                <article id="production-plan-heatmap-container">
                    <div class="row">
                        <h5 class="max">Production Plan Heatmap</h5>
                        <div class="field label suffix border">
                            <select id="process-tags">
                                <!-- Options will be populated dynamically -->
                            </select>
                            <label>Select Process</label>
                            <i>arrow_drop_down</i>
                        </div>
                    </div>
                    <div>
                        <span id="min-value-display">Min: 0h</span>
                        <span id="max-value-display">Max: 0h</span>
                    </div>
                    <div>
                        <canvas id="heatmap" style="max-height: 150px;"></canvas>
                    </div>
                </article>
                <article id="workspace-heatmap-container">
                    <div class="row">
                        <h5 class="max">Workspace Heatmap</h5>
                        <div class="field label suffix border">
                            <select id="process-tags">
                                <!-- Options will be populated dynamically -->
                            </select>
                            <label>Select Process</label>
                            <i>arrow_drop_down</i>
                        </div>
                    </div>
                    <div>
                        <span id="min-value-display">Min: 0h</span>
                        <span id="max-value-display">Max: 0h</span>
                    </div>
                    <div>
                        <canvas id="heatmap" style="max-height: 150px;"></canvas>
                    </div>
                </article>
            </div>
            <div id="activity" class="page padding">
                <div class="grid padding">
                    <div class="s12">
                        <div class="field label prefix border">
                            <i>search</i>
                            <input id="search-input" type="search">
                            <label>Search</label>
                            <span class="helper">Search by assembly names.</span>
                        </div>
                    </div>
                    <br>
                    <div class="s12">
                        <div class="field label suffix border">
                            <select id="process-tags">
                                <!-- Options will be populated dynamically -->
                            </select>
                            <label>Select Process</label>
                            <i>arrow_drop_down</i>
                            <span class="helper">Filter by processes.</span>
                        </div>
                    </div>
                </div>
                <article class="job-container">
                    <h3>Jobs</h3>
                    <br>
                    <div id="jobs-list">
                    </div>
                </article>
            </div>
        </div>
    </main>
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</body>
</html>